
    <script src="~/plugin/fileman/js/tiny_mce_popup.js"></script>
    <script src="~/plugin/fileman/js/file.js"></script>
    <script src="~/plugin/fileman/js/custom.js"></script>
    <script src="~/plugin/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/plugin/tinymce/tinymce.min.js"></script>
    <script src="~/Areas/Admin/Scripts/customtinimce.js"></script>

<div style="background:white">
    <div class="post-job m-b-lg">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container post-job-tabs">
                    <div>
                        <div id="jobPostContainer" class="tab-content">
                            <div id="job" class="m-b active">
                                <div class="panel-body">
                                    <textarea required="required" id="textarea" name="htmlcontent">@ViewBag.Footer</textarea>
                                    <button style="margin-top:20px;float:right;" class="btn-lg btn-primary" type="button" id="save_tinimce">Lưu Thay Đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!-- Modal Crop Photo -->
</div>
