@model Model.Framework.ConfigMail
@{
    ViewBag.Title = "Thêm mới config email";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Thêm mới Mail
        <small>Add News Config Mail</small>
    </h1>
</section>
@Html.Partial("_ConfigMail", Model)

