@model Model.Framework.ConfigMail
@{
    ViewBag.Title = "Chỉnh sửa ConfigEMail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Chỉnh Sửa Mail
        <small>Edit Mail Config Mail</small>
    </h1>
</section>
@Html.Partial("_ConfigMail", Model)

