@model Model.Framework.UngVien
@using Model.Framework
<link href="~/Content/Employer/Manager/my-profile.css" rel="stylesheet" />
<div class="ibox-content m-t">
    <div class="panel-body row">
        <div class="col-sm-10">
            <div class="float-e-margins animated fadeInRight">
                <div class="content">
                    <h2>
                        <span class="circle-wrapper"><i class="fa fa-building-o"></i></span>
                        Logo Công Ty
                    </h2>
                    <form name="logo" method="post" action="/ManagerAccountAdmin/UploadLogo" id="companyLogo" novalidate="novalidate" class="select-remove-width form-horizontal" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group company-logo-group">
                                <div class="col-md-offset-3 col-sm-9">
                                    @if (Model.Hinhanh != null)
                                    {
                                        <div class="upload-state" style="display:none">
                                            <label for="logo_logo_file" class="btn btn-default btn-sm btn-upload btn-upload-logo" type="button">
                                                <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                                <span class="bold">Tải logo</span>
                                                <input type="file" id="logo_logo_file" name="logo" class="form-control" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" accept=".gif,.png,.jpeg,.jpg" tabindex="16">
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="upload-state">
                                            <label for="logo_logo_file" class="btn btn-default btn-sm btn-upload btn-upload-logo" type="button">
                                                <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                                <span class="bold">Tải logo</span>
                                                <input type="file" id="logo_logo_file" name="logo" class="form-control" data-show-error-after=".help-block" data-show-error-container=".col-sm-9" accept=".gif,.png,.jpeg,.jpg" tabindex="16">
                                            </label>
                                        </div>
                                    }
                                    @if (Model.Hinhanh != null)
                                    {
                                        <div class="uploaded-state" style="display:inline-block;">
                                            <span class="thumbnail thumbnail-logouploaded m-b-none">

                                                <img style="width:192px;" src="~/Profile_upload/@Model.Hinhanh" class="img-responsive">
                                            </span>
                                            <div class="photo-manager">
                                                <button id="logo_logo_update" type="button" title="" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" tabindex="17" data-original-title="Sửa logo">
                                                    <span class="bold"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                </button>
                                                <button id="logo_logo_remove" type="button" title="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" tabindex="17" data-original-title="Xóa logo">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    <input type="hidden" id="logo_logo_is_deleted" name="logo[logo][is_deleted]" value="0">
                                                </button>
                                                <input type="hidden" id="logo_logo_id" name="logo[logo][id]" value="0">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="uploaded-state" style="display:none;">
                                            <span class="thumbnail thumbnail-logouploaded m-b-none">

                                                <img src="~/Profile_upload/@Model.Hinhanh" class="img-responsive">
                                            </span>
                                            <div class="photo-manager">
                                                <button id="logo_logo_update" type="button" title="" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" tabindex="17" data-original-title="Sửa logo">
                                                    <span class="bold"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                </button>
                                                <button id="logo_logo_remove" type="button" title="" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" tabindex="17" data-original-title="Xóa logo">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    <input type="hidden" id="logo_logo_is_deleted" name="logo[logo][is_deleted]" value="0">
                                                </button>
                                                <input type="hidden" id="logo_logo_id" name="logo[logo][id]" value="0">
                                            </div>
                                        </div>
                                    }
                                    <span class="help-block">
                                        <small><em>(Tập tin với phần mở rông .jpg .jped .png .gif và kích thước &lt;1MB)</em></small>
                                    </span>
                                    <input type="hidden" id="logo_logo_cropped_image" name="logo[logo][cropped_image]" class="cropped-img-data">
                                </div>
                            </div>
                        </fieldset>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="text-right col-sm-12">
                                <button class="btn btn-primary" type="button" id="save_logo_change">
                                    Lưu
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="mauv" value="@Model.MAUV"/>
                    </form>
                </div>
                <!-- Modal Crop Photo -->
            </div>
            <!-- Modal Crop Photo -->

        </div>
    </div>
</div>
<div class="modal fade modal-crop-photo" id="logo_logo_cropper">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chỉnh Sửa Hình Ảnh</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p>Xem Trước</p>
                        <div class="thumbnail">
                            <div class="img-preview preview-lg" id="preview"></div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>Vui lòng chọn vùng cần xén và nhấn "Xén Hình Ảnh"</p>
                        <div class="crop-container thumbnail">
                            <img class="img-responsive" id="cropbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel-crop" data-dismiss="modal" tabindex="19">Hủy</button>
                <button type="button" class="btn btn-primary btn-crop-img" tabindex="20">Xén Hình Ảnh</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/Employer/Manager/jqueryapp.js"></script>*@
<script>

    function displayimg(id) {
        $("#uploadcompany"+id).css('display', 'inline-block');
        $("#uploadstate" + id).css('display', 'none');
        $("#uploadedstate" + id).css('display', 'block;');
        $("#img-wrapper" + id).css('max-height', '195px;');
    }
    var val1 = $("#logo_photo1_id").val();
    if (val1 > 0) {
        displayimg(1);
    }
    var val2 = $("#logo_photo2_id").val();
    if (val2 > 0) {
        displayimg(2);
    }
    var val3 = $("#logo_photo3_id").val();
    if (val3 > 0) {
        displayimg(3);
    }
</script>
