@model Model.Framework.Advert
@{
    ViewBag.Title = "QCLayoutRight";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    if (Model != null)
    {
        ViewBag.Add = Model.advertindextop;
    }
    else
    {
        ViewBag.Add = "";
    }
}
<section class="content-header">
    <h1>
        Quảng Cáo Trang chủ Hàng trên(Kích thước chiều ngang là 815px)
        <small>Kích thước 815px</small>
    </h1>
</section>
@Html.Partial("_QC")

<script>
    $("#save_tinimce").click(function () {
        var html = window.parent.tinymce.get('textarea').getContent();
        savaadvert(html, "QCIndexTop");
    })
</script>
