@model Model.Framework.CongTy
@using thuctaptotnghiep.Models
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnurl = Request.RawUrl;
    returnurl = returnurl.Replace("/Employer/Login?ReturnUrl=", "");
    new Totalallow().today();
}
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/sweetalert2/sweetalert-dev.js"></script>
<link href="~/Content/Employer/Login/css.css" rel="stylesheet" type="text/css">
<!--[if gt IE 9]><!-->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .error ul {
        text-align: center;
        color: red;
        font-size: 20px;
        list-style-type: none;
    }
</style>
<div class="gray-bg  pace-done">
    <div class="container m-t-lg" style="background:white">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center m-t-lg m-b-lg">
                    <a href="/"><img style="width:25%" src="~/Content/Employer/Login/ct.png" alt="" title="" class="vnw-logo"></a>
                </div>
                @*@Html.Action("Header", "Header")*@
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <link rel="stylesheet" href="~/Content/Employer/Login/signin.css">
                                <div class="row section-form">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="text-center m-t-lg m-b-lg">
                                            <h1 style="font-size:28px">Cập Nhật Mật Khẩu Mới</h1>
                                        </div>
                                        @using (Html.BeginForm("ChangePasswordEmployer", "ResetPassWord", FormMethod.Post, new { @id = "update-password" }))
                                        {
                                            <div class="form-group">
                                                <h5>Email truy cập: @Model.Emaildangnhap</h5>
                                                @Html.TextBoxFor(x => x.Emaildangnhap, new { @type = "hidden", @class = "form-control", @id = "email", @placeholder = "Nhập địa chỉ email của bạn", @required = "required", @hidden = "hidden" })
                                              
                                            </div>
                                            <div class="form-group">
                                                <label>Mật Khẩu Mới:</label>
                                                @Html.PasswordFor(x => x.Matkhau, new { @class = "form-control", @id = "password_fist", @placeholder = "Nhập mật khẩu mới", @required = "required" })
                                                <span style="color:red" id="password_first_error"></span>
                                                @*<input class="form-control" type="text" id="email" name="_username" placeholder="Nhập địa chỉ email của bạn" value="">*@
                                            </div>
                                            <div class="form-group">
                                                <label>Xác Nhận Mật Khẩu Mới</label>
                                                @Html.Password("Password_Second",null, new { @class = "form-control", @id = "password_second", @placeholder = "Xác Nhận mật khẩu mới", @required = "required" })
                                                <span style="color:red" id="password_second_error"></span>
                                                @*<input class="form-control" type="text" id="email" name="_username" placeholder="Nhập địa chỉ email của bạn" value="">*@
                                            </div>
                                            <div class="form-group">
                                                <button  id="change-password" type="submit" class="btn btn-primary block full-width m-b-xs form-control">
                                                   Lưu Mật Khẩu
                                                </button>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <span class="pull-right">
                                                <a href="/">Đăng nhập lại?</a>
                                            </span>
                                        </div>
                                        <div class="clear m-t-lg text-center">
                                            <p class="text-muted text-center m-t">Bạn chưa có tài khoản? <a href="/Employer/SignUp"><strong>Đăng ký ngay!</strong></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#update-password").submit(function (e) {
        var form = $("#update-password");
        var postData = form.serializeArray();
        var formURL = form.attr("action");
        $("#password_first_error").hide();
        $("#password_second_error").hide();
        var password_first = $("#password_fist").val();
        var password_second = $("#password_second").val();
        var email = $("#email").val();
        if (password_first == "" || password_first.length < 6 || password_first.length >= 100) {
            $("#password_first_error").html("Vui Lòng nhập mật khẩu và độ dài tối thiểu là 6 ký tự");
            $("#password_first_error").show();
            $("#password_second_error").hide();
            return false;
        }
        if (password_first != password_second) {
            $("#password_first_error").hide();
            $("#password_second_error").html("vui lòng xác nhận mật khẩu trùng khớp")
            $("#password_second_error").show();
            return false;

        }
        else if (password_first.length >= 6 && password_first == password_second) {
            $.ajax({
                url: formURL,
                type: "POST",
                dataType: "json",
                data: postData,
                success: function (data) {
                    if (data == 0) {
                        swal(
                      'Lỗi',
                      'Đã Xảy Ra lỗi vui lòng thử lại hoặc làm mới trang?',
                      'error'
                    )
                        location.reload();
                    }
                    else {

                        swal({
                            title: "Thành Công!",
                            text: "Cập nhật mật khẩu thành công!",
                            type: "success",
                            confirmButtonText: "OK"
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "/employer/login";
                            }
                        });
                    }
                }
            , error: function (data) {
                swal(
              'Lỗi',
              'Đã Xảy Ra lỗi vui lòng thử lại hoặc làm mới trang?',
              'error'
            )
                location.reload();
            }
            })
            e.preventDefault();
        }
        e.preventDefault();
    })
</script>