@model thuctaptotnghiep.Models.Employer
@using thuctaptotnghiep.Models
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnurl = Request.RawUrl;
    returnurl = returnurl.Replace("/Employer/Login?ReturnUrl=", "");
    new Totalallow().today();
}
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/sweetalert2/sweetalert-dev.js"></script>
<link rel="shortcut icon" href="~/Content/image/congthuong.png">
<meta name="Description" content="Trung tâm hỗ trợ sinh viên và quan hệ doanh nghiệp trường cao đẳng công thương thành phố hồ chí minh ">
<meta name="Keywords" content="Trung tâm hỗ trợ sinh viên và quan hệ doanh nghiệp trường cao đẳng công thương thành phố hồ chí minh ">
<link href="~/Content/Employer/Login/css.css" rel="stylesheet" type="text/css">
<!--[if gt IE 9]><!-->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .error ul {
        text-align: center;
        color: red;
        font-size: 20px;
        list-style-type: none;
    }
</style>
<div class="gray-bg  pace-done">
    <div class="container m-t-lg" style="background:white">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center m-t-lg m-b-lg">
                    <a href="/"><img style="width:25%" src="~/Content/Employer/Login/ct.png" alt="" title="" class="vnw-logo"></a>
                </div>
                @*@Html.Action("Header", "Header")*@
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <link rel="stylesheet" href="~/Content/Employer/Login/signin.css">
                                <div class="row section-form">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="text-center m-t-lg m-b-lg">
                                            <h1 style="font-size:28px">Quên mật khẩu </h1>
                                        </div>
                                        @using (Html.BeginForm("ForgotPassWordEmployer", "ResetPassWord", FormMethod.Post, new { @id = "form-forgotpassword" }))
                                        {
                                        <div class="form-group">
                                            <label>Địa chỉ email</label>
                                            @Html.TextBoxFor(x => x.Emaildangnhap, new { @type = "email", @class = "form-control", @id = "email", @placeholder = "Nhập địa chỉ email của bạn", @required = "required" })
                                            <label style="color:red" id="email_error"></label>
                                            @*<input class="form-control" type="text" id="email" name="_username" placeholder="Nhập địa chỉ email của bạn" value="">*@
                                        </div>
                                        <div class="form-group">
                                            <button id="sendmail" type="submit" class="btn btn-primary block full-width m-b-xs">
                                                Gửi Yêu Cầu
                                            </button>
                                        </div>
                                        }

                                        <div class="clear m-t-lg text-center">
                                            <span class="pull-right">
                                                <a href="@Url.Action("Login","Employer")">Đăng nhập lại?</a>
                                            </span>
                                             <p class="text-muted text-center m-t">Bạn chưa có tài khoản? <a href="/Employer/SignUp"><strong>Đăng ký ngay!</strong></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#form-forgotpassword").submit(function (e) {
        swal({
            title: "Đang gửi yêu cầu...!",
            text: "Yêu cầu của bạn đang được gửi đi vui lòng đợi thông báo hướng dẫn...!",
            type: "info",
            showConfirmButton: false
        })
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax({
            type:"POST",
            url: formURL,
             data: postData,
            success: function (data) {
                if (data == 0) {
                    $("#email_error").html("Địa chỉ email của bạn không có trong hệ thống");
                    swal({
                        title: "Email không tồn tại...!",
                        text: "Email của bạn không tồn tại trong hệ thống vui lòng kiểm tra lại...!",
                        type: "error",
                        showConfirmButton: true
                    })
                } else if (data == 2) {
                    setTimeout(function () {
                        swal({
                            title: "Đã Xảy Ra lỗi!",
                            text: "Vui lòng làm mới lại trang hoặc thử lại sau!",
                            type: "error",
                            confirmButtonText: "OK"
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                    }, 1000);
                }
                else {
                    swal({
                        title: "Đã gửi yêu cầu!",
                        text: "Vui lòng truy cập email để cập nhật mật khẩu mới!",
                        type: "success",
                    })
                    $("#form-forgotpassword").html("<h5 style='text-align:center;'>Một đường dẫn đã gửi tới email của bạn Vui lòng truy cập hộp thư và làm theo hướng dẫn</h5>")
                }
            }
        });
        e.preventDefault(); //STOP default action
    })
</script>

