@using thuctaptotnghiep.Models
@using Model.Framework
@{
    thuctaptotnghiepDbContext db=new thuctaptotnghiepDbContext();
    //new Totalallow().today();
    var user = Session["Employer"] as CongTy;
}
<nav class="navbar horizontal-navbar navbar-default" style="border-radius:0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/Employer/Index">
                <img src="/Content/image/htsv.png"  height="46">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/Employer/ActiveJob"><i class="fa fa-file-text-o"></i>Việc Làm</a>
                </li>
                <li class="dropdown dropdown-popover-theme dropdown-with-icon ">
                    <i class="fa dropdown-caret fa-caret-up"></i>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i>Ứng Viên <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/ManagerJob/MemberForJob"><i class="fa fa-lg fa-fw fa-file-text"></i>Ứng viên đã đăng ký</a>
                        </li>
                        <li>
                            <a href="/ManagerJob/ListSaveMember"><i class="fa fa-lg fa-fw fa-search"></i> Ứng viên đã lưu</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-popover-theme dropdown-with-icon">
                    <i class="fa dropdown-caret fa-caret-up"></i>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/Employer/Profile"><i class="fa fa-lg fa-fw fa-user"></i>Tài Khoản<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Employer/Profile"><i class="fa fa-user" aria-hidden="true"></i>@user.Emaildangnhap</a>
                        </li>
                        <li>
                            <a href="/Employer/Profile"><i class="fa fa-user-circle" aria-hidden="true"></i>Thông Tin Nhà Tuyển Dụng</a>
                        </li>
                        <li>
                            <a href="/Employer/Logout"><i class="fa fa-lg fa-fw fa-sign-out"></i>Đăng Xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-form navbar-left">
                <a href="/Employer/CreateWork" class="btn btn-primary m-r-xs">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="visible-lg-inline">Đăng Tin Tuyển Dụng</span>
                </a>
                <a href="/ManagerJob/SearchMember" class="btn btn-primary">
                    <i class="fa fa-fw fa-search"></i>
                    <span class="visible-lg-inline">Tìm Ứng Viên</span>
                </a>
            </div>
            @*<ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-with-icon dropdown-popover-theme dropdown-more">
                    <i class="fa dropdown-caret fa-caret-up"></i>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lg fa-bars"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="non-clickable">
                                <strong>Hỗ Trợ Doanh nghiệp</strong><br>
                                Hotline: 1800 7100
                            </a>
                        </li>
                        <li class="gray-bg">
                            <a href="/Employer/Logout"><i class="fa fa-fw fa-lg fa-sign-out"></i>Thoát</a>
                        </li>
                    </ul>
                </li>
            </ul>*@
        </div><!-- /.navbar-collapse -->
        <div class="visible-xs mobile-nav">
            <ul>
                <li>
                    <a class="menu-toggler"><i class="fa fa-lg fa-bars"></i></a>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="modal fade modal-menu" id="modal-menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close absolute" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <ul>
                    <li class="menu-header">&nbsp;</li>
                    <li class="highlight-menu">
                        <a href="/Employer/CreateWork">
                            <i class="fa fa-lg fa-fw fa-plus"></i>
                            <span>Đăng Tuyển Dụng</span>
                        </a>
                    </li>
                    <li class="highlight-menu">
                        <a href="/ManagerJob/SearchMember">
                            <i class="fa fa-lg fa-fw fa-search"></i>
                            <span>Tìm Ứng Viên</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Employer/ActiveJob">
                            <i class="fa fa-lg fa-fw fa-file-text"></i>
                            <span>Việc Làm</span>
                        </a>
                    </li>
                    <li>
                        <a class="secondary-level-menu-toggler">
                            <i class="fa fa-lg fa-fw fa-users"></i>
                            <span>Ứng Viên</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="secondary-level-menu">
                            <li>
                                <a href="/ManagerJob/MemberForJob"><i class="fa fa-lg fa-fw fa-file-text"></i>Ứng Viên Đăng Ký</a>
                            </li>
                            <li>
                                <a href="/ManagerJob/ListSaveMember"><i class="fa fa-lg fa-fw fa-file-o"></i> Ứng viên đã lưu</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Employer/Profile">
                            <i class="fa fa-lg fa-fw fa-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Employer/Logout">
                            <i class="fa fa-fw fa-lg fa-sign-out"></i>
                            <span>Thoát</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>